<!-- accounts/templates/bame.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Finanship{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/style.css' %}">
</head>
<body>
    <header>
        <h1>Finanship</h1>
        <!-- Add navigation links, logo, etc. -->
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add footer content -->
    </footer>
</body>
</html>
